{% extends 'layouts/main.html' %}
{% block title %}Project Divert{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1>Project Divert</h1>
		<p class="lead">What are you?</p>
		<h2>
			<a href="/submit_details1"><button class="btn btn-primary btn-lg">Charity</button></a>
		</h2>
		<h2>
			<a href="/submit_details2"><button class="btn btn-secondary btn-lg">Community Groups</button></a>
		</h2>
		<h2>
			<a href="/submit_details3"><button class="btn btn-success btn-lg">Education</button></a>
		</h2>
		<h2>
			<a href="/submit_details4"><button class="btn btn-warning btn-lg">Social Enterprise</button></a>
		</h2>
		<h2>
			<a href="/submit_details5"><button class="btn btn-info btn-lg">Other</button></a>
		</h2>
	</div>
</div>
{% endblock %}